---
import "./src/styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{Astro.props.title}</title>
  </head>
  <body
    class="h-svh w-svw flex flex-col font-nunito bg-gray-50 text-gray-900 p-2"
  >
    <slot />
  </body>
</html>
